DEFAULT_FROM = "andrewho+rss@andrewho.co.uk"
FORCE_FROM = 1
HTML_MAIL = 0
DATE_HEADER = 1

SMTP_SEND = 1
SMTP_SERVER = "mail.messagingengine.com"
AUTHREQUIRED = 1
SMTP_USER = "andrewlkho@fastmail.fm"
SMTP_PASS = "__FASTMAIL PASSWORD__"
SMTP_SSL = 1
