[general]

status_path = ~/.vdirsyncer/status/

[pair fastmail]
a = fastmail_local
b = fastmail_remote
collections = null

[storage fastmail_local]
type = filesystem
path = ~/git/pim.git/contacts
fileext = .vcf
encoding = "utf-8"

[storage fastmail_remote]
type = carddav
read_only = true
url = "https://carddav.fastmail.com/dav/addressbooks/user/andrewlkho@fastmail.fm/Default"
auth = basic
username = "andrewlkho+Default@fastmail.fm"
password = ""
verify = ~/.offlineimap/fastmail.crt
