lists '.+@lists\.cam\.ac\.uk'

subscribe remind-fans@lists.roaringpenguin.com
subscribe uamuzibora@googlegroups.com

alias family __FAMILY E-MAIL ADDRESSES__
alias uamuzibora __UAMUZIBORA E-MAIL ADDRESSES__
alias fuat __FUAT E-MAIL ADDRESSES__
