servers = (
  {
    address = "chat.freenode.net";
    chatnet = "freenode";
    family = "inet6";
    port = "6697";
    use_tls = "yes";
    tls_verify = "yes";
    tls_cert = "~/.irssi/certs/freenode.pem";
  },
  {
    address = "textdriven.irc.slack.com";
    chatnet = "textdriven";
    port = "6667";
    password = "";
    use_tls = "yes";
    tls_verify = "yes";
  }
);

chatnets = {
  freenode = {
    type = "IRC";
    sasl_mechanism = "EXTERNAL";
  };
  textdriven = {
    type = "IRC";
  };
};

channels = (
  { name = "#general"; chatnet = "textdriven"; autojoin = "yes"; }
);

settings = {
  core = {
    real_name = "Andrew Ho";
    user_name = "andrewlkho";
    nick = "andrewlkho";
    timestamp_format = "%Y-%m-%dT%H:%M%z";
    resolve_prefer_ipv6 = "yes";
  };
  "fe-common/core" = {
    beep_when_away = "no";
    beep_when_window_active = "no";
    hide_text_style = "yes";
  };
  "fe-text" = { actlist_sort = "refnum"; colors = "no"; };
};

ignores = ( { level = "MODES"; servertag = "textdriven"; } );
